<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="/cosine">Cosine</a>
      </li>
      <li>
        <a href="/sine_and_cosine">Sine and Cosine</a>
      </li>
    </ul>
  </article>
</section>
