<section class="phx-hero">
  <h2>Welcome to <i><%= PlotexLiveViewExampleWeb |> inspect %></i> Example</h2>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="cosine_graphs.html">Cosines</a>
      </li>
    </ul>
  </article>
  <article class="column">
  </article>
</section>
